li
{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 120%;
  margin-left: 75px;
}
h3
{
  color: #04AA6D;
  font-family:'Courier New', Courier, monospace;
  font-size: 200%;
  margin-left: 50px;
}
h2
{
  color: #04AA6D;
  font-family:'Courier New', Courier, monospace;
  margin-left: 50px;
}
p
{
  color: white;
  margin-left: 75px;
}
.link:visited {
  /* Center horizontally*/
  color:  #04AA6D;
}
.link:link {
  /* Center horizontally*/
  color:  #04AA6D;
}
.link:hover {
  /* Center horizontally*/
  color:  #00ffa2;
}