<!DOCTYPE html
<html lang="{{ language.language }}">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSAuto</title>
    {% if not meta_disabled %}
    <!--META SECTION-->
    <!--GENERAL-->
    <meta name="keywords" content="{{ _('meta_csauto_tags') }}">
    <meta name="description" content="{{ _('csauto_description') }}">
    <meta name="author" content="Murky">
    {# XXX: Only home support #}
    {% if active_nav=="home" %}<!--Alternate links-->
    {% for x in languages %}<link rel="alternate" hreflang="{{ x.language }}" href="{{ base_url }}{% if default_language.language is ne x.language %}{{ x.language }}{% endif %}" />
    {% endfor %}{% endif %}
    <!--OPEN GRAPH-->
    <meta name="og:type" content="website">
    <meta name="og:title" content="CSAuto">
    <meta name="og:description" content="{{ _('csauto_description') }}">
    <meta name="og:image" content="{{ base_url + 'public/images/opengraph.jpg' }}">  {# TODO(Low important): Localized version of OG image? #}
    <!--TWITTER-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="CSAuto">
    <meta name="twitter:description" content="{{ _('csauto_description') }}">
    <meta name="twitter:image" content="{{ base_url + 'public/images/opengraph.jpg' }}">
    <!--JSON-LD-->
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "CSAuto",
        "author": {
            "@type": "Person",
            "name": "Murky",
            "alternateName": "MurkyYT",
            "url": "https://github.com/MurkyYT"
        },
        "availableLanguage": [
            {{ meta_available_language }}
        ],
        "applicationCategory": "Game",
        "applicationSubCategory": "Tools",
        "keywords": "{{ _('meta_csauto_tags') }}",
        "description": "{{ _('csauto_description') }}",
        "operatingSystem": "Windows 10, 11",
        "sameAs": "https://github.com/MurkyYT/CSAuto",
        "headline": "CSauto - Automate CS2"
    }
    </script>
    <!--META SECTION END-->
    {% endif %}
    {% if canon_link %}
    <link rel="canonical" href="{{ canon_link }}">
    {% endif %}

    <link rel="icon" type="image/x-icon" href="{{ path_prefix }}public/favicon.ico">
    <link rel="stylesheet" href="{{ path_prefix }}css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css">

    <script defer src="/_vercel/insights/script.js"></script>
    {% endblock %}
</head>
<body dir="{{ language.text_direction }}">
    {% block body %}
    <input type="checkbox" id="about-modal-open">
    <dialog id="modal-about">
        <article>
            <header>
                <label role="link" for="about-modal-open" aria-label="Close" class="close"></label>
                {{_('modal_about_title')}}
            </header>
            <p>
                {{_('csauto_description')}}
                <br><br>
                {{_('about_modal_murky_mention')}} <a aria-label="{{_('about_modal_murky_label')}}" href="https://github.com/MurkyYT">Murky</a>. <a aria-label="{{_('about_modal_source_code_link_label')}}" href="https://github.com/MurkyYT/CSAuto">{{_('about_modal_source_code_link')}}</a>
                <br><br>
                <a aria-label="{{_('about_modal_web_source_label')}}" href="https://github.com/MurkyYT/cs-auto">{{_('about_modal_web_source')}}
            </p>
            <footer>
                <p>{{_('about_modal_with_love_made_by')}}<a href="https://github.com/NoPlagiarism">NoPlagiarism</a></p>
            </footer>
        </article>
    </dialog>
    <nav class="container-fluid">
        <ul><a href="https://github.com/MurkyYT/CSAuto"><li><img alt="CSAuto" src="{{ '/'.join(('..', ) * root_level) }}{% if root_level is not eq(0) %}/{% endif %}public\logo.svg" width="64"></li><li><h4 style="margin: 0;">CSAuto</h4></li><a></ul>
        <ul>
            <li><a href="/{% if default_language.language is ne language.language %}{{ language.language }}{% endif %}"{% if active_nav=="home" %} role="button"{% endif %}>{{_('nav_home')}}</a></li>
            <li><a href="/changelog"{% if active_nav=="changelog" %} role="button"{% endif %}>{{_('nav_changelog')}}</a></li>
            <li><label role="link" for="about-modal-open">{{_('nav_about')}}</label></li>
            <li>
                <details class="dropdown languages">
                    <summary>{{ language.get_language_name().capitalize() }}</summary>
                    <ul dir="rtl">
                        {% for x in languages %}{% if x is ne language %}<li>{{ get_language_home_a(x) }}</li>{% endif %}{% endfor %}
                    </ul>
                </details>
            </li>
        </ul>
    </nav>
    {% endblock %}
    {% block main required %}
    {% endblock %}
    <footer>
        <small>
            {{_('footer_csauto_not_affiliated')}}
        </small>
    </footer>
</body>
</html>