<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSAuto</title>
    {% if not meta_disabled %}
    <meta name="keywords" content="CS, CS2, cs, cs2, automation, gsi, csgsi, Counter-Strike, Counter-Strike 2, CS2, counter strike, software, application, app, cs auto accept, auto accept, CS2 auto accept">
    <meta name="description" content="CSAuto is software to automate usual CS2 in game tasks, such as accepting match, buying items and much more!">
    <meta name="og:description" content="CSAuto is software to automate usual CS2 in game tasks, such as accepting match, buying items and much more!">
    <meta name="og:title" content="CSAuto">
    <meta name="og:type" content="website">
    <meta name="author" content="Murky">
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "CSAuto",
        "author": {
            "@type": "Person",
            "name": "Murky",
            "alternateName": "MurkyYT",
            "url": "https://github.com/MurkyYT"
        },
        "applicationCategory": "Game",
        "applicationSubCategory": "Tools",
        "keywords": "CS, CS2, cs, cs2, automation, gsi, csgsi, Counter-Strike, Counter-Strike 2, CS2, counter strike, software, application, app, CS2 auto accept,  cs auto accept, auto accept",
        "description": "CSAuto is software to automate usual CS2 in game tasks, such as accepting match, buying items and much more!",
        "operatingSystem": "Windows 10, 11",
        "sameAs": "https://github.com/MurkyYT/CSAuto",
        "headline": "CSauto - Automate CS2"
    }
    </script>
    {% endif %}
    {% if canon_link %}
    <link rel="canonical" href="{{ canon_link }}">
    {% endif %}

    <link rel="icon" type="image/x-icon" href="public/favicon.ico">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">

    <script defer src="/_vercel/insights/script.js"></script>
    {% endblock %}
</head>
<body>
    {% block body %}
    <input type="checkbox" id="about-modal-open">
    <dialog id="modal-about">
        <article>
            <header>
                <label role="link" for="about-modal-open" aria-label="Close" class="close"></label>
                About
            </header>
            <p>
                CSAuto is software to automate usual CS2 in some game tasks, such as accepting match, buying items and much more!
                <br><br>
                CSAuto was created and is actively maintained by <a aria-label="GitHub developer profile" href="https://github.com/MurkyYT">Murky</a> with <a aria-label="CSAuto repository on GitHub" href="https://github.com/MurkyYT/CSAuto">Source code available on GitHub.</a>
                <br><br>
                <a aria-label="Website source code on GitHub" href="https://github.com/MurkyYT/cs-auto">Source code</a> of this website also available on GitHub.
            </p>
            <footer>
                <p>Website made with 💜 by <a href="https://github.com/NoPlagiarism">NoPlagiarism</a></p>
            </footer>
        </article>
    </dialog>
    <nav class="container-fluid">
        <ul><a href="https://github.com/MurkyYT/CSAuto"><li><img alt="CSAuto" src="public\logo.svg" width="64"></li><li><h4 style="margin: 0;">CSAuto</h4></li><a></ul>
        <ul>
            <li><a href="/"{% if active_nav=="home" %} role="button"{% endif %}>Home</a></li>
            <li><a href="/changelog"{% if active_nav=="changelog" %} role="button"{% endif %}>Changelog</a></li>
            <li><label role="link" for="about-modal-open">About</label></li>
        </ul>
    </nav>
    {% endblock %}
    {% block main required %}
    {% endblock %}
</body>
</html>