{% extends "base.jinja" %}
{% block main %}
    <main>
        <section class="BadgesDownload">
            <div class="badges" align="center">
                <a href="https://github.com/MurkyYT/CSAuto"><img alt="{{_('alt_github_repo_stars_badge')}}" src="https://img.shields.io/github/stars/murkyyt/csauto?style=for-the-badge&logo=github"></a>
                <a href="https://github.com/MurkyYT/CSAuto/releases"><img alt="{{_('alt_total_downloads_badge')}}" width="auto" src="https://img.shields.io/github/downloads/murkyyt/csauto/total?color=brightgreen&logo=github&label=Total%20downloads&style=for-the-badge"></a>
                <a href="https://github.com/MurkyYT/CSAuto/releases"><img alt="{{_('alt_total_downloads_badge')}}" width="auto" src="https://img.shields.io/sourceforge/dt/csauto?style=for-the-badge&logo=sourceforge&logoColor=orange&label=Total%20downloads"></a>
                <a href="https://github.com/MurkyYT/CSAuto/releases"><img alt="{{_('alt_version_badge')}}" src="https://img.shields.io/github/v/release/MurkyYT/CSAuto?logo=github&style=for-the-badge"></a>
                <a href="https://discord.gg/57ZEVZgm5W"><img alt="{{_('alt_join_discord')}}" src="https://img.shields.io/discord/1154291113352499232?style=for-the-badge&logo=Discord&label=DISCORD"></a>
            </div>
            <div align="center"><a href="#downloads" role="button">{{_('download_button')}}</a>&nbsp<a href="#FAQ" role="button">{{_('faq_button')}}</a></div>
        </section>
        <section class="container-fluid FeaturesSection">
            <h1 align="center">{{_('h1_csauto_features')}}</h1>
            <div class="feature">
                <div class="col-1">
                    <video src="{{ path_prefix }}public/videos/auto-accept.mp4" autoplay muted loop alt="{{_('alt_autoaccept_video')}}"></video>
                </div>
                <div class="col-2">
                    <h2>{{_('h2_autoaccept')}}</h2>
                    <p>
                        {{_('desc_autoaccept')}}
                    </p>
                </div>
            </div>
            <div class="feature row-2">
                <div class="col-1">
                    <h2>{{_('h2_autobuy')}}</h2>
                    <p>
                        {{_('desc_autobuy')}}
                    </p>
                </div>
                <div class="col-2">
                    <video src="{{ path_prefix }}public/videos/auto-buy.mp4" autoplay muted loop alt="{{_('alt_autobuy_video')}}"></video>
                </div>
            </div>
            <div class="feature">
                <div class="col-1">
                    <video src="{{ path_prefix }}public/videos/auto-spotify-play.mp4" autoplay muted loop alt="{{_('alt_spotify_video')}}"></video>
                </div>
                <div class="col-2">
                    <h2>{{_('h2_spotify')}}</h2>
                    <p>
                        {{_('desc_spotify')}}
                    </p>
                </div>
            </div>
            <div class="feature row-2">
                <div class="col-1">
                    <h2>{{_('h2_autoreload')}}</h2>
                    <p>
                        {{_('desc_autoreload')}}
                    </p>
                </div>
                <div class="col-2">
                    <video src="{{ path_prefix }}public/videos/auto-reload.mp4" autoplay muted loop alt="{{_('alt_autoreload_video')}}"></video>
                </div>
            </div>
            <div class="feature">
                <div class="col-1">
                    <img src="{{ path_prefix }}public/images/discord-rpc.png" alt="{{_('alt_discord_rpc_image')}}">
                </div>
                <div class="col-2">
                    <h2>{{_('h2_discord_rpc')}}</h2>
                    <p>
                        {{_('desc_discord_rpc')}}
                    </p>
                </div>
            </div>
        </section>
        <section class="DonwloadsSection container" id="downloads">
            <div class="downloads grid">
                <!-- Most of icons were taken from FontAwesome.com -->
                <div class="DownloadColumn">
                    <h4>{{_('binary_installers')}}</h4>
                    <hr>
                    <h5>Windows</h5>
                    <a role="button" href="https://github.com/MurkyYT/CSAuto/releases/download/{{latest_version}}/CSAuto_Installer.exe">
                        {% include "svg/install.svg" %}

                        {{_('installer')}} (.EXE)</a>
                    <a role="button" href="https://github.com/MurkyYT/CSAuto/releases/download/{{latest_version}}/CSAuto_Portable.zip">
                        {% include "svg/portable.svg" %}
                        {{_('portable')}} (.ZIP)</a>
                    <hr>
                    <h5>Android</h5>
                    <a role="button" href="https://github.com/MurkyYT/CSAuto/releases/download/{{latest_version}}/CSAuto_Android.apk">
                        {% include "svg/android.svg" %}
                        
                        {{_('installer')}} (.APK)</a>
                    <hr>
                    <a role="button" href="https://github.com/MurkyYT/CSAuto/releases">
                        {% include "svg/versions.svg" %}
                        
                        {{_('all_versions')}}</a>
                </div>
                <div class="DownloadColumn">
                    <h4>{{_('h4_app_managers')}}</h4>
                    <hr>
                    <h5>Windows</h5>
                    <div role="group" id="scoop">
                        <a role="button" href="https://scoop.sh/#/apps?q=csauto&id=237eb9768ee66aa0b3500e3e2b0086e4755f0c86">                            
                            {% include "svg/scoop.svg" %}
                            Scoop</a>
                        {# TODO: find a way to do a multi-line #}
                        <code data-clipboard-text="scoop bucket add games; scoop install csauto">
                            scoop bucket add games<br>scoop install csauto
                        </code>
                    </div>
                    <div role="group" id="winget">
                        <a role="button" href="https://winstall.app/apps/MurkyYT.CSAuto">
                            <!-- Since, no WinGet svg, using Windows one. https://github.com/microsoft/winget-cli/issues/4691 -->
                            {% include "svg/windows.svg" %}
                            WinGet
                        </a>
                        <code data-clipboard-text="winget install --id=MurkyYT.CSAuto -e">
                            winget install --id=MurkyYT.CSAuto -e
                        </code>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div id="FAQ" align="">
                {{ faq }}
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
    <script defer>
            cljs = new ClipboardJS('code');
            function setupCodeblocks() {
                let codes = document.querySelectorAll(".downloads code");
                for (var i = 0; i < codes.length; i++) {
                    codes[i].addEventListener('mouseleave', clearTooltip);
                    codes[i].addEventListener('blur', clearTooltip);
                    codes[i].setAttribute("data-tooltip", "Copy")
                }

                cljs.clearSelection = function() {};
                cljs.on('success', function(e) {
                    console.log(e);
                    e.trigger.setAttribute("data-tooltip", "Success!");
                });
                cljs.on('error', function(e) {
                    e.trigger.setAttribute("data-tooltip", "Can't copy!");
                    // Remove listeners to let user handle the copy
                    cljs.destroy();
                });

                function clearTooltip(e) {
                    e.currentTarget.setAttribute("data-tooltip", "Copy");
                }
            }

            // checking if current device is mobile or not
            // https://stackoverflow.com/a/71030087/20533050
            const isMobile = localStorage.mobile || window.navigator.maxTouchPoints > 1;
            const isClipboardJSDefined = typeof cljs !== 'undefined';

            if (!isMobile && isClipboardJSDefined) setupCodeblocks();
    </script>
{% endblock %}
