[data-theme=light], :root:not([data-theme=dark]) {
    --bg-secondary: #CBFCE1;  /* pico-jade-50 */
    --downloads-column-bg: #70FCBA; /* pico-jade-100 */
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --bg-secondary: #202838;  /* pico-background-color */
        --downloads-column-bg: #00452B;  /* pico-jade-750 */
    }
}

[data-theme=dark] {
    --bg-secondary: #202838;  /* pico-background-color */
    --downloads-column-bg: #00452B;  /* pico-jade-750 */
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: var(--bg-secondary);
    z-index: 2;
}

nav h4 {
    /*lil crutch*/
    @media screen and (max-width: 400px) {
        display: none;
    }
}

html {
    scroll-padding-top: 100px;  /* Jump to section & ignore nav */
}

main {
    margin-top: 90px;
}

/* index.html */

section.BadgesDownload div {
    margin-bottom: 0.5em;
}

.badges img {
    margin-right: 0.7em;
    margin-bottom: 0.3em;
}

section.FeaturesSection {
    width: 100%;
    padding: 0;
}

.row-2 {
    background-color: var(--bg-secondary);
}

.row-2 > div {
    background-color: var(--bg-secondary);
}

.feature {
    display: inline;
    @media screen and (min-width: 800px) {
        display: flex;
    }
}

.feature p {
    font-size: xx-large;
    font-weight: 400;
    
    @media screen and (max-width: 1437px) {
        font-size: x-large;
    }
}

.col-1 {
    display: inline-block;
    position: relative;
    width: 100%;
    /*to-responsive*/
    @media screen and (min-width: 800px) {
        float: left;
        top: 0;
        width: 50%; 
    }
}

.col-1 video, .col-1 img {
    @media screen and (min-width: 800px) {
        padding: 0px;
    }
}

.col-2 {
    display: inline-block;
    position: relative;
    width: 100%;
    @media screen and (min-width: 800px) {
        float: right;
        top: 0;
        width: 50%;
    }
}

.col-2 p, .col-2 h2 {
    @media screen and (min-width: 800px) {
        padding-left: 0.25em;
    }
}

.feature h2, .feature h3 {
    margin-bottom: 3px;
}

.feature video, .feature img {
    width: 100%;
    height: 100%;
}

.feature h2 {
    text-decoration: underline;
}

div#FAQ {
    margin-top: 0;
    padding-top: 0;
}

/* About modal */

[role="link"] {
    cursor: pointer;
}

input#about-modal-open {
    display: none;
}

input#about-modal-open:checked ~ #modal-about {
	display: flex;
}

dialog footer {
    height: min-content;
    margin: 0;
    padding: 0;
}

dialog footer p {
    font-size: small;
}

/* Downloads section */

.downloads {
    width: 100%;
    background-color: var(--bg-secondary);
}

.DownloadColumn {
    background-color: var(--downloads-column-bg);
    margin: 5px;
    padding: 3px;
    display: grid;
    align-content: start;
    gap: 10px;
}

.DownloadColumn svg {
    width: 32px;
    color: #9BCCFD;  /* pico-color-azure-200 */
}

.DownloadColumn code {
    width: fit-content;
}

.downloads div {
    border-radius: 0.25em;
}

.DownloadColumn a {
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

.DownloadColumn hr {
    margin: 0px;
}